<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
    <COMLOG level = "info">
         <AppenderRef ref="Console"/>
	</COMLOG>
	
    <!--  suppress netty debug messages -->
    <logger name="io.netty.handler.codec.http.websocketx">
  		<level value="info"/> 
	</logger>
	<logger name="io.netty.util">
	    <level value="info"/> 
	</logger>
	<logger name="io.netty.channel">
	    <level value="info"/>
	</logger>
	<logger name="io.netty.buffer">
	    <level value="info"/>
	</logger> 
	<logger name="org.springframework">
	    <level value="error"/>
	</logger>
  </Loggers>
  
</Configuration>